:root{
    --back-fondo: #F1F5F9;
    --btn-color: #E2E8F0;
    --btn-color-hov: #CBD5E1;
    --btn-color-sha: #a6b0bd;;
    --target-btn: #c4c4c486;
    --color-shop: #0F172A;
}

.main-home{
    min-height: calc(100vh - 3.363rem);
    background-image: url('../../images/Vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.main-home-panel-left-text-msg{
    
    font-weight: 100;
    color: var(--color-nav);
    font-size: 2.2rem;
}

.main-home-panel-left-btn{
    border-radius: 1.875rem;
    border: none;
    width: 9rem;
    height: 3rem;
    margin-top: 1rem;
    font-size: 0.938rem;
    font-weight: 800;
    background-color: var(--btn-color);
    color: var(--color-shop);
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-home-panel-left-btn:hover{
    background-color: var(--btn-color-hov);
    box-shadow: 0 0 5px var(--btn-color-sha);
}


.main-home-panel{
    min-height: calc(100vh - 5.75rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37.172rem;
}

.main-home-panel-rigth-img-src{
    width: 34.375rem;
    transition: 1s;
    position:fixed;
}

.main-home-panel-rigth-img-src:hover{
    width: 35.938rem;
}

@media (max-width: 1025px) {
    .main-home-panel-left{
        z-index: 1;
    }
    .main-home-panel-left-text{
        background-color: var(--target-btn);
        padding: 0.5rem;
    }
    .main-home-panel-rigth-img{
        position: absolute;
    }
    .main-home-panel{
        width: 100%;
    }
    .main-home-panel-rigth-img-src{
        position:absolute;
    }
    .main-home{
        min-height: 0;
    }
}

@media (max-width: 1270px) {
    .main-home-panel-left-text-msg{
        font-size: 1.5rem;
    }
}


@media (max-width: 750px) {
    .main-home-panel-left{
        z-index: 1;
    }
    .main-home-panel-left-text{
        background-color: var(--target-btn);
        padding: 0.5rem;
    }
    .main-home-panel-rigth-img{
        position: absolute;
    }
    .main-home-panel-rigth-img-src{
        width: 18.75rem;
    }
    .main-home-panel,
    .containerHome,
    main{
        min-height: calc(100vh - 3.063rem);
    }
    .main-home-panel-left-text-msg{
        font-size: 1.25rem;
    }
}


