:root{
    --back-fondo: #EFFCF6;
    --btn-color: #14919B;
    --btn-color-hov: #0e767e;
    --btn-color-sha: #09484d;
    --target-btn: #c4c4c486;
}

.mainHo{
    min-height: calc(100vh - 53.8px);
    background-image: url('../../images/Vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-position: center;
}

.h3H{
    margin: 0;
    font-weight: 100;
    color: var(--nav-col);
    font-size: 2.2rem;
}

.bShop{
    border-radius: 30px;
    border: none;
    width: 144px;
    height: 48px;
    margin-top: 1rem;
    font-size: 0.938rem;
    font-weight: 800;
    background-color: var(--btn-color);
    color: var(--back-fondo);
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bShop:hover{
    background-color: var(--btn-color-hov);
    box-shadow: 0 0 5px var(--btn-color-sha);
}


.imgHome{
    min-height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 594.75px;
}


.containerHome{
    width: 100%;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 92px);
    justify-content: center;
    align-items: center;
}

.imgSrc{
    width: 550px;
    transition: 1s;
    position:fixed;
}

.imgSrc:hover{
    width: 575px;
}

@media (max-width: 1025px) {
    .teH{
        z-index: 1;
    }
    .textHome{
        background-color: var(--target-btn);
        padding: 0.5rem;
    }
    .imgP{
        position: absolute;
    }
    .imgHome{
        width: 100%;
    }
    .imgSrc{
        position:absolute;
    }
    .mainHo{
        min-height: 0;
    }
}

@media (max-width: 1270px) {
    .h3H{
        font-size: 1.5rem;
    }
}


@media (max-width: 750px) {
    .teH{
        z-index: 1;
    }
    .textHome{
        background-color: var(--target-btn);
        padding: 0.5rem;
    }
    .imgP{
        position: absolute;
    }
    .imgSrc{
        width: 300px;
    }
    .imgHome,
    .containerHome,
    main{
        min-height: calc(100vh - 135px);
    }
    .h3H{
        font-size: 1.25rem;
    }
}


