:root{
    --color-num-but: #F8FAFC;
    --palabras-but: #1E293B;
}

.cantMid{
    width: 46px;
    height: 29px;
    background-color: black;
    color: var(--color-num-but);
    display: flex;
    justify-content: center;
    align-items: center;
}

.picBotPrice{
    width: 270px;
    height: 62px;
    background-color: var(--color-bot);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.priceTit{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--palabras-but);
}

.priceP{
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.6rem;
}

.toppingP{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--palabras-but)
}