:root{
    --error: #EFFCF6;
    --font-error: #000;
}

.error404{
    background-color: var(--back-fondo);
    min-height: calc(100vh - 5.813rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titError,
.pError{
    
    color: var(--font-error);
}

.titError{
    font-size: 4rem;
}

.pError{
    font-size: 2rem;
    text-align: center;
}