:root{
    --botton: #475569;
    --botton-hover: #334155;
}

.goup-btn{
    background-color: var(--botton);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    padding: 0.5rem;
    bottom: 0;
    right: 0;
    transform: translate(-45%, -60%);
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 2px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 2px;
    box-shadow: rgba(0,0,0,0.8) 0 0 2px;
}

.goup-arrow{
    transform: rotate(-90deg);
    fill: white;
}

.goup-btn:hover{
    background-color: var(--botton-hover);
}

.goup-btn:active{
    transform: scale(1rem , 1rem);
}
