:root{
    --check-btn: #d2ddf7;
    --check-font: #1E293B;
    --check-hov: #b9c0d3;
    --check-sha: #00000069;
    --Check-f: #F8FAFC;
}

.check-subtotal{
    padding: 0.68rem 0;
    color: var(--nav-col);
    text-align: center;
    font-size: 1rem;
}

.check-overflowy{
    overflow-y: visible;
    overflow-x: hidden;
}

.check-btn{
    border-radius: 1.875rem;
    border: none;
    width: 9rem;
    height: 3rem;
    font-size: 0.938rem;
    font-weight: 800;
    background-color: var(--check-btn);
    color: var(--check-font);
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.3rem;
}

.check-btn:hover{
    background-color: var(--check-hov);
    box-shadow: 0 0 2px var(--check-sha);
}

.check-cross-btn{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    fill: var(--check-font);
}

.check-btn-center{
    display: flex;
    justify-content: center;
}

.check-main{
    display: flex;
    min-height: calc(100vh);
    height: 100%;
    width: 31.25rem;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 4;
    background-color: var(--Check-f);
    box-shadow: -4px 0px 5px -5px rgba(0,0,0,1);
    transition: all 0.75s ease;
    opacity: 1;
    flex-direction: column;
}
.check-message-top-part{ 
    font-size: 7rem;
    text-align: center;
}

.check-message-empty{
    display: flex;
    flex-direction: column;
}

.check-main-movement{
    right: 0%;
    opacity: 1;
    transition: all 0.75s ease;
}

.check-section-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0  ;
    width: 100%;
    max-height: calc(100vh - 12.519rem);
    margin-bottom: 0.5rem;
}

.check-header-container{
    display: flex;
    flex-direction: column;
    background-color: var(--top-panel);
    min-width: 13.75rem;
}

.check-header{
    font-size: 1.2rem;
    margin: 0;
    padding: 0.62rem 1rem;
    background-color: var(--title);
    text-align: center;
    color: var(--color-panel);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 830px){
    .check-header{
        width: 100%;
        text-align: center;
        padding: 0.64rem 0;
        font-size: 1rem;
    }
    .check-header-container{
        
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .check-section-items{
        max-height: calc(100vh - 12.519rem);
        margin-bottom: 0.25rem;
    }
    .check-main{
        display: block;
        min-height: 0;
        width: 20rem;
    }
    .check-cross-btn{
        right: 1rem;
    }
    .check-btn{
        width: 6.25rem;
        height: 2.1875rem;
        font-size: 0.75rem;
        display: flex;
        position: absolute;
        bottom: 0.8rem;
    }
    .check-message-top-part{
        font-size: 4rem;
    }
    .check-message-bottom-part{
        font-size: 1rem;
    }
    .check-subtotal{
        font-size: 1rem;
        padding: 0.62rem;
    }
}