:root{
    --check-btn: #d2ddf7;
    --check-font: #000000;
    --check-hov: #b9c0d3;
    --check-sha: #00000069;
    --Check-f: #deebe5;
}

.totS{
    margin: 0;
    text-align: right;
    padding: 0.635rem;
    color: var(--nav-col);
    text-align: center;
    font-size: 1rem;
}

.titNavC{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mover{
    overflow-y: scroll;
    overflow-x: hidden;
}

.total{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.bCheck{
    border-radius: 30px;
    border: none;
    width: 144px;
    height: 48px;
    font-size: 0.938rem;
    font-weight: 800;
    background-color: var(--check-btn);
    color: var(--check-font);
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bCheck:hover{
    background-color: var(--check-hov);
    box-shadow: 0 0 2px var(--check-sha);
}

.crossC{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    fill: #fff;
}

.totalD{
    margin: 0;
}

.centrarChecker{
    display: flex;
    justify-content: center;
}

.mainCheck{
    display: none;
    min-height: calc(100vh);
    height: 100%;
    width: 500px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 4;
    background-color: var(--Check-f);
    box-shadow: -4px 0px 5px -5px rgba(0,0,0,1);
    transition: all 0.75s ease;
    opacity: 1;
}
.noItem{
    margin: 0;
    font-size: 7rem;
    text-align: center;
}
.noItemM{
    margin: 0;
    text-align: center;
}
.messageNo{
    display: flex;
    flex-direction: column;
}

.caTivo{
    right: 0%;
    opacity: 1;
    display: flex;
}

.derPanell{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0  ;
    width: 100%;
    max-height: calc(100vh - 200.3px);
    margin-bottom: 0.5rem;
}

@media (max-width: 830px){
    .derPanell{
        max-height: calc(100vh - 191.53px);
        margin-bottom: 0.25rem;
    }
    .mainCheck{
        display: block;
        min-height: 0;
        width: 320px;
    }
    .crossC{
        right: 1rem;
    }
    .bCheck{
        width: 100px;
        height: 35px;
        font-size: 0.75rem;
    }
    .noItem{
        font-size: 4rem;
    }
    .noItemM{
        font-size: 1rem;
    }
    .totS{
        font-size: 1rem;
    }
    .mover{
        overflow-y: scroll;
        overflow-x: hidden;
    }
}