:root{
    --calculo: calc(100vh - 53.8px);
    --izq-panel: #14919B;
    --hover-pan:#128088;
    --title:#0f6a70;
}


.mainShop{
    display: flex;
    min-height: var(--calculo);
    height: 100%;
}


.titNavIzq{
    font-size: 1.2rem;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--title);
    text-align: center;
    color: white;
}


.izqPanel{
    display: flex;
    flex-direction: column;
    background-color: var(--izq-panel);
    min-width: 220px;
}

.derPanel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}

.downU{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.liU{
    text-align: center;
    display: flex;
    line-height: 2rem;
    cursor: pointer;
    list-style: none;
    justify-content: center;
}

.total{
    display: flex;
    justify-content: center;
    width: 100%;
}

.shopArt{
    color: white;
    padding: 0.75rem 0.25rem;
    width: 100%;
}

.active{
    color: white;
    background-color: var(--hover-pan);
    font-weight: 900;
}

.titNavIzqc{
    margin: 0;
    color:white;
    font-size: 1.2rem;
}


.liU:hover{
    background-color: var(--hover-pan);
}

.products{
    display: flex;
    font-size: 1.875rem;
    margin: 0;
    padding: 1rem 2rem;
    background-color: var(--title);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:2rem
}

.menuI{
    display: none;
    fill: white;
}
.show{
    display:flex;
}

@media (max-width: 830px) {
    .downU{
        position: absolute;
        top: -100%;
        transition: all 0.75s ease;
        left: 0;
        opacity: 1;
        z-index: 1;
    }
    .show{
        top: 5.5rem;
        opacity: 1;
    }
    .menuI{
        display: flex;
        cursor: pointer;
        position: absolute;
        right: 0;
        transform: translate(-60%);
    }
    .products{
        width: 100%;
        padding: 0.6rem 0;
        z-index: 2;
    }
    .total{
        flex-direction: column;
    }
    .izqPanel{
        margin: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .liU{
        text-align: center;
        width: 100%;
    }
    .mainShop{
        display: block;
        min-height: calc(100vh - 145.267px);
    }
    .titNavIzq{
        width: 100%;
        text-align: center;
        padding: 0.6rem 0;
        font-size: 1rem;
    }
    .derPanel{
        width: auto;
    }
    .shopArt{
        background-color: var(--izq-panel);
        padding: 0.5rem 0.25rem;
    }
    .active{
        background-color: var(--hover-pan);
    }
    .shopArt:hover{
        background-color: var(--hover-pan);
    }
    .titNavIzqc{
        font-size: 1rem;
    }
}
