:root{
    --calculo: calc(100vh - 53.8px);
    --top-panel: #E2E8F0;
    --hover-panel:#d1d7df;
    --title:#CBD5E1;
    --color-panel: #1E293B;
}

.mainShop{
    min-height: var(--calculo);
    height: 100%;
}

.titNavIzq{
    font-size: 1.2rem;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: var(--title);
    text-align: center;
    color: var(--color-panel);
}


.izqPanel{
    display: flex;
    flex-direction: column;
    background-color: var(--top-panel);
    min-width: 220px;
}

.derPanel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
    width: 100%;
}

.downU{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.liU{
    text-align: center;
    display: flex;
    line-height: 2rem;
    cursor: pointer;
    list-style: none;
    justify-content: center;
}



.shopArt{
    color: var(--color-panel);
    padding: 0.4rem 0.5rem;
    width: 12ch;
}

.active{
    color: var(--color-panel);
    background-color: var(--hover-panel);
    font-weight: 900;
}

.titNavIzqc{
    margin: 0;
    color: var(--color-panel);
    font-size: 1.2rem;
}


.shopArt:hover{
    background-color: var(--hover-panel);
}

.products{
    display: none;
    font-size: 1.875rem;
    margin: 0;
    padding: 1rem 2rem;
    background-color: var(--title);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:2rem
}

.menuI{
    display: none;
    fill: var(--color-panel);
}
.show{
    display:flex;
}

@media (max-width: 949px) {
    .downU{
        position: absolute;
        top: -100%;
        transition: all 0.75s ease;
        left: 0;
        opacity: 1;
        z-index: 1;
        flex-direction: column;
        gap: 0;
    }
    .show{
        top: 5.638rem;
        opacity: 1;
    }
    .menuI{
        display: flex;
        cursor: pointer;
        position: absolute;
        right: 0;
        transform: translate(-60%);
    }
    .products{
        width: 100%;
        padding: 0.6rem 0;
        z-index: 2;
        display: flex;
    }
    .izqPanel{
        margin: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .liU{
        text-align: center;
        width: 100%;
    }
    .mainShop{
        display: block;
        min-height: calc(100vh - 145.267px);
    }
    .titNavIzq{
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        font-size: 1rem;
    }
    .shopArt{
        background-color: var(--top-panel);
        padding: 0.5rem 0.25rem;
        width: 100%;
    }
    .active{
        background-color: var(--hover-panel);
    }
    .shopArt:hover{
        background-color: var(--hover-panel);
    }
    .titNavIzqc{
        font-size: 1rem;
    }
}
