:root{
    --check-btn: #e0e8f9;
    --check-font: #000000;
    --check-hov: #d0d6e6;
    --check-sha: #00000069;
}

.totS{
    margin: 0;
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--nav-col);
    text-align: center;
}


.bCheck{
    border-radius: 30px;
    border: none;
    width: 144px;
    height: 48px;
    font-size: 0.938rem;
    font-weight: 800;
    background-color: var(--check-btn);
    color: var(--check-font);
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bCheck:hover{
    background-color: var(--check-hov);
    box-shadow: 0 0 2px var(--check-sha);
}

.centrarChecker{
    display: flex;
    justify-content: center;
}


.mainCheck{
    display: flex;
    min-height: calc(100vh - 92px);
}
.noItem{
    margin: 0;
    font-size: 7rem;
    text-align: center;
}
.noItemM{
    margin: 0;
    text-align: center;
}
.messageNo{
    display: flex;
    flex-direction: column;
}

@media (max-width: 830px){
    .mainCheck{
        display: block;
        min-height: 0;
    }
    .bCheck{
        margin-bottom: 1rem;
    }
    .noItem{
        font-size: 4rem;
    }
    .noItemM{
        font-size: 1rem;
    }
}