:root{
    --nav-col: #1E293B;
    --nav-bg: #90a7bb;
    --nav-hov: #0000003d;
    --color-checkout: #64748B;
    --color-nav: #fff;
}

nav{
    display: flex;
    padding: 0.4rem 0.72657rem;
    background-color: var(--nav-bg);
    z-index: 3;
    position: sticky;
    top: 0;
}

.navAll{
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 0;
    justify-content: right;
    gap: 0.5rem;
    transform: translate(-10%);
}

a{
    text-decoration: none;
    color: var(--nav-col);
}

.liName{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad{
    background-color: var(--color-checkout);
    border-radius: 1.875rem;
    color: var(--color-nav);
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
}

.titNav{
    font-size: 1.5rem;
    margin: 0;
    width: 100%;
    color: var(--color-nav);
    font-weight: 700;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.che{
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.moverNav{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

@media (max-width: 740px) {
    nav{
        position:sticky;
        width: 100%;
        z-index: 3;
        padding: 0.25rem 0;
        top: 0;
    }
    .titNav{
        text-align: center;
        margin: 0;
        font-size: 1.2rem;
        transform: translate(10%);
    }
    .liName{
        text-align: center;
    }
    .linkH{
        font-size: 0.75rem;
    }
}

.linkH{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.8rem;
    padding: 0.5rem;
    transition: 0.2s;
    font-size: 0.75rem;
    cursor: pointer;
    color: var(--color-nav)
}
.linkH:hover{
    background-color: var(--nav-hov);
}