:root{
    --nav-col: #1E293B;
    --nav-bg: #90a7bb;
    --nav-hov: #0000003d;
    --color-checkout: #64748B;
    --color-nav: #fff;
}

.navigator{
    display: flex;
    padding: 0.4rem 0.72657rem;
    background-color: var(--nav-bg);
    z-index: 3;
    position: sticky;
    top: 0;
}

.list-links-nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    justify-content: right;
    gap: 0.5rem;
    transform: translate(-10%);
}

.list-li-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-amount-nav{
    background-color: var(--color-checkout);
    border-radius: 1.875rem;
    color: var(--color-nav);
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
}

.title-nav{
    font-size: 1.5rem;
    width: 100%;
    color: var(--color-nav);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.gap-cart-nav{
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.moverNav{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.list-hiper-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.8rem;
    padding: 0.5rem;
    transition: 0.2s;
    font-size: 0.75rem;
    cursor: pointer;
    color: var(--color-nav)
}

.list-hiper-nav:hover{
    background-color: var(--nav-hov);
}

@media (max-width: 740px) {
    .navigator{
        position:sticky;
        width: 100%;
        z-index: 3;
        padding: 0.25rem 0;
        top: 0;
    }
    .title-nav{
        text-align: center;
        font-size: 1.2rem;
        transform: translate(10%);
    }
    .list-li-nav{
        text-align: center;
    }
    .list-hiper-nav{
        font-size: 0.75rem;
    }
}