:root{
    --nav-col: #F0F4F8;
    --nav-bg: #044E54;
    --nav-hov: #0000003d;
}

nav{
    display: flex;
    padding: 0.72657rem;
    background-color: var(--nav-bg);
}

ul{
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--nav-col);
}

li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titNav{
    font-size: 3.125rem;
    margin: 0;
    width: 100%;
    color: var(--nav-col);
    font-weight: 700;
}

.moverNav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 740px) {
    nav{
        flex-direction: column;
    }
    .titNav{
        text-align: center;
    }
    li{
        text-align: center;
    }
}


.linkH{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 0.5rem;
    transition: 0.2s;
}
.linkH:hover{
    background-color: var(--nav-hov);
}